<div class="content" [class.blur]="isMessageVisible">
  <div class="columns is-centered">
    <img src="../assets/ca-bit.png" class="image">
  </div>
  <div class="section has-text-light">
    <h1 class="title is-1 has-text-centered has-text-light">Cloud Advocate Skills Inventory</h1>
    <p class="is-size-4">
      You've got skills! Help us maintain an accurate inventory of specific skills on this team. Use the form below to share your
      current
      primary and secondary programming languages and technical focus areas.
    </p>
  </div>

  <div class="box">
    <h2 class="title">Alias</h2>
    <p>First, we need to know who you are! Please select your Microsoft alias:</p>
    <ng-multiselect-dropdown *ngIf="roster && roster.length && roster.length > 0" [placeholder]="'Select alias'"
      [(data)]="roster" [(ngModel)]="selectedAlias" [settings]="rosterDropdownSettings" [disabled]="isLoading"
      (onSelect)="onAliasSelect($event)" (onDeSelect)="onAliasDeselect($event)">
    </ng-multiselect-dropdown>
    <p *ngIf="!primaryTechValid" class="has-text-danger">
        Please select your alias
      </p>
  </div>
  <div class="box">
    <h2 class="title">Programming Languages</h2>
    <h3 class="title is-4">Primary Programming Languages</h3>
    <p>Please select the programming languages you consider your <strong>primary</strong> focus. These
      should be programming languages you'd feel comfortable using to do a talk at a conference on short notice. 
      It is okay to only pick 1. 
    </p>
    <p>Choose <b>up to</b> 3</p>
    <ng-multiselect-dropdown
      *ngIf="programmingLanguages && programmingLanguages.length && programmingLanguages.length > 0"
      [placeholder]="'Select primary languages'" [(data)]="programmingLanguages" [(ngModel)]="selectedPrimaryLangs"
      [settings]="langDropdownSettings" [disabled]="isLoading">
    </ng-multiselect-dropdown>
    <p *ngIf="!primaryLangValid" class="has-text-danger">
        Please choose at least one primary programming language
    </p>

    <h3 class="title is-4">Secondary Programming Languages</h3>
    <p>(Optional) Select the programming languages you have past experience using OR are actively learning. These should be
      programming languages you <i>could</i>
      use, but are not comfortable enough to do a conference talk or troubleshoot a customer issue.
    </p>
    <p>Choose <b>up to</b> 3</p>
    <ng-multiselect-dropdown
      *ngIf="programmingLanguages && programmingLanguages.length && programmingLanguages.length > 0"
      [placeholder]="'Select secondary languages'" [(data)]="programmingLanguages" [(ngModel)]="selectedSecondaryLangs"
      [settings]="langDropdownSettings" [disabled]="isLoading">
    </ng-multiselect-dropdown>
  </div>
  <div class="box">
    <h2 class="title">Technical Focus Areas</h2>
    <p>For the next two questions, focus on technologies where you have active practical experience. For this data to be useful, we do not need to 
      capture every technology you've heard of or used once in the past. Think about the technologies you are capable of covering as a Cloud Advocate today.</p>
    <h3 class="title is-4">Primary Technical Focus Areas</h3>
    <p>Select your <b>primary</b> technical focus areas. These should be technical focuses where you have a 300 or 400 level of
      experience and comfort. Your knowledge and experience are current.
    </p>
    <p>No limit, but choose...wisely</p>
    <ng-multiselect-dropdown *ngIf="techFocuses && techFocuses.length && techFocuses.length > 0"
      [placeholder]="'Select primary focuses'" [(data)]="techFocuses" [(ngModel)]="selectedPrimaryTech"
      [settings]="techDropdownSettings" [disabled]="isLoading">
    </ng-multiselect-dropdown>
    <p *ngIf="!primaryTechValid" class="has-text-danger">
      Please choose at least one primary technical focus area
    </p>

    <h3 class="title is-4">Secondary Technical Focus Areas</h3>
    <p>(Optional) Select your secondary technical focus areas. These should be technical focuses where you have some previous
      experience OR are actively learning and
      ramping-up. These should be areas you'd feel comfortable giving a talk if you had a few months to prepare.
    </p>
    <p>No limit, but you know the drill</p>
    <ng-multiselect-dropdown *ngIf="techFocuses && techFocuses.length && techFocuses.length > 0"
      [placeholder]="'Select secondary focuses'" [(data)]="techFocuses" [(ngModel)]="selectedSecondaryTech"
      [settings]="techDropdownSettings" [disabled]="isLoading">
    </ng-multiselect-dropdown>
  </div>
  <button class="button is-primary is-large" (click)="submitForm()" [class.is-loading]="isLoading">Submit</button>
</div>
<div class="notification is-primary is-overlay has-shadow" [class.is-danger]="!isSuccess" *ngIf="isMessageVisible">
  <button class="delete" (click)="hideMessage()"></button>
  <h3 *ngIf="isSuccess" class="title">Got it!</h3>
  <h3 *ngIf="!isSuccess" class="title">Oops.</h3>
  <p>
    {{ message }}
  </p>
</div>
<router-outlet></router-outlet>