.notification.is-primary {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;

    box-shadow: 1px 1px 1px #333;
}

.blur {
    filter: blur(5px);
}